//IMPORT 

@import "../src/Sections/Home/Home.scss";
@import "../src/Components/Card/Card.scss";
@import "../src/Components/Api/TopFive.scss";
@import "../src/Sections/Footer/Footer.scss";


body{
  background-image: url('./assets/circle-scatter-haikei.svg'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  color: whitesmoke; 
  font-family: monospace;
}

.App{
  height: 100vh;
  display: grid;
  grid-gap: 1em;
}